.banner {
    width: 100%;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.post {
    max-width: 45rem;
    margin: 0 auto;
    padding: 4rem 0;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.625rem;
        letter-spacing: -0.03125rem;
        color: var(--heading);
        margin-bottom: 1.5rem;
    }

    .container{
        color: var(--info);
    
        .contentPublication{
            display: flex;
            .contentPublication__datePublished{
                display: flex;
                align-items: center;
                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    & + time {
                        margin-left: 0.5rem;
                    }
                }
                time {
                    display: block;
                    font-size: 0.875rem;
                    text-transform: capitalize;
                }
            }
            .contentPublication__author{
                display: flex;
                align-items: center;
                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    & + p {
                        margin-left: 0.5rem;
                    }
                }
                p {
                    font-size: 0.875rem;
                }
            }
            .contentPublication__readTime{
                display: flex;
                align-items: center;
                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    & + p {
                        margin-left: 0.5rem;
                    }
                }
                p {
                    font-size: 0.875rem;
                }
            }
        }
        .contentPublication__update{
            font-style: italic;
            font-size: 0.875rem;
            line-height: 1.0625rem;
        }
    
        .contentPublication__datePublished + .contentPublication__author,
        .contentPublication__author + .contentPublication__readTime {
            margin-left: 1.5rem;
        }
    
        .contentPublication + .contentPublication__update {
            margin-top: 1rem;
        }
    }

    .postContent{
        margin-top: 4rem;
        .singleContent{
            h2 {
                font-size: 2.25rem;
                font-weight: bold;
                line-height: 3.125rem;
                text-align: justify;
                color: var(--heading);
            }
            & + .singleContent{
                margin-top: 3rem;
            }
        }

        .htmlContent {
            font-size: 1.125rem;
            line-height: 1.5625rem;
            text-align: justify;
            color: var(--body);
    
            p, ul {
                margin: 1.5rem 0;
            }
    
            ul {
                padding-left: 1.5rem;
    
                li {
                    margin: 0.5rem 0;
                }
            }

            a {
                color: var(--highlight);
            }
        }
    }
}